@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, .5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    background-color: #CC527A;
}

.navbar-inverse {
    background-color: #CC527A ;
    border-color: #CC527A ;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}  

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background-color: #E8175D;
    border-color: #E8175D;
    font-style: Montserrat;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-style: Montserrat;
}

footer {
    display: block;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    background-color: #CC527A ;
    border-color: #CC527A ;
    color: #FFFFFF;
}

h1, .h1 {
    font-size: 50px;
    font-style: Montserrat;
    color: #E8175D;
    text-align: center
}

h2, .h2 {
    font-size: 28px;
    font-style: Montserrat;
    color: #FFFFFF;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FFFFFF;
    font-style: Montserrat;
    font-size: 24px;
    text-align: center
}

input, button, select, textarea {
    font-family: Montserrat;
    font-size: inherit;
    line-height: inherit;
    border-color: #FFFFFF;
    color: #004272
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-style: Montserrat;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

body {
    background-color: #363636 ;
}

a.left-button, a.right-button {
    text-decoration: white;
    color: #E8175D;
}

Input, button, select, textarea {
    font-family: Montserrat;
    font-size: inherit;
    line-height: inherit;
    border-color: #FFFFFF;
    color: #004272;;
    font-size: 16px;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 2.5em;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    font-display: thick;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #004272;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-style: Montserrat;
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(#004272, #004272);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    color: #004272;
    text-align: center
}

